*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: #051226;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


/* Add this CSS to style the list items as buttons */
ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px; /* Add some margin between list items */
}

ul li a {
    display: block;
    padding: 10px 20px;
    background-color: #2dad8b; /* Match the background color of your welcome page */
    color: #051226; /* Choose a contrasting text color */
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px; /* Adjust font size to match your design */
    transition: background-color 0.3s ease; /* Add smooth transition effect */
}

ul li a:hover {
    background-color: #1e9e73; /* Change background color on hover */
}

h1{
    color:#2dad8b;
}